include head.pug
include navbar.pug
h1(class="index-title container mx-auto") Now in theaters
div(class="movies-container grid gap-4 grip-flow-col sm:grid-cols-4 container mx-auto")
    each movie in movies.results
        div(class="home-movie shadow-lg")
            img(src=`${imageBaseUrl}${movie.poster_path}` alt="movie picture")
include footer.pug