include head
body
    include navbar
    div(class="container")
        h1 Home Page
        div(class="buttons-container")
            a(href="/login/facebook/")
                button(id="login-facebook") Login with Facebook
            a(href="/login/github/")
                button(id="login-github") Login with GitHub
    include footer