div(class="footer rounded-lg container mx-auto bg-gradient-to-r from-gray-900 via-gray-700 to-gray-800 text-gray-600 h-12 flex items-center")
    b Made for educational purposes. 
    b You can follow me on: 
    br
    a(href="https://twitter.com/oi_moralest")
        img(src="/img/twitter.png" alt="Twitter")
    a(href="https://github.com/oimoralest")
        img(src="/img/github.png" alt="GitHub")
    a(href="https://www.linkedin.com/in/oimoralest")
        img(src="/img/linkedin.png" alt="Linkedin")