nav(class="navbar rounded-lg container mx-auto bg-gradient-to-r from-yellow-300 via-yellow-400 to-yellow-200 text-gray-600 h-12 flex items-center")
    a(href="/")
        img(class="img-navbar" src="/img/movie.png" alt="")
    b(class="page-tittle flex-grow") Movie App
    div(class="flex-shrink sm:flex-shrink-0")
        form(action="/movie/search/" method="post")
            b(class="filter") Filter
            select(class="filter" name="filter")
                option(value="movie") Title
                option(value="person") Actor
            input(class="input-navbar h-8 w-24 ring ring-yellow-300" type="text" placeholder="Search a movie" name="termSearch")
            button(class="button-navbar") Search