.navbar-container {
    min-height: 60px;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login-button {
    min-height: 40px;
    min-width: 80px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgb(6, 184, 6);
    border: none;
}

#login-button:hover {
    background-color: green;
    box-shadow: 0 0 4px rgb(41, 83, 62);
}
