div.footer {
    margin-top: 10px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.footer img {
    width: 25px;
    height: 25px;
}

div.footer b, div.footer img {
    margin-left: 5px;
    margin-right: 5px;
}