@font-face {
	font-family: "movieTitleFont";
	src: url("/fonts/sfhollywoodhills-webfont.woff") format('woff');
}

h1.index-title {
	padding: 10px;
	text-align: center;
	font-size: 80px;
	font-family: "movieTitleFont";
}

div.home-movie {
	border: solid #fcd34d 2px;
	border-radius: 5px;
	padding: 5px;
	display: flex;
	justify-content: center;
	background-color: white;
}

div.home-movie:hover {
	background-color: rgba(0,0,0,0.8);
}
