img.img-navbar {
	width: 40px;
	height: 40px;
	margin-left: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

div.home {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

b.page-tittle {
	margin-left: 10px;
	font-family: "movieTitleFont";
}

n.filter,
select.filter,
input.input-navbar,
button.button-navbar {
	margin-right: 10px;
	border: solid #fcd34d 1px;
	border-radius: 5px;
	padding: 5px;
}

input.input-navbar {
	width: 200px;
}

input.input-navbar:focus {
	border: rgba(0, 0, 0, 0.7) solid 4px;
}

button.button-navbar:hover {
	background-color: #fbbf24;
}
