<%- include('head') %>
<div class="login-page">
	<div class="form">
		<h1>Welcome, <%= username %>!</h1>
		<a href="/story/1">Story 1</a>
		<a href="/story/2">Story 2</a>
		<a href="/story/3">Story 3</a>
		<br>
		<a href="/statement">Download your statement</a>
		<p><a href="/logout">Log out</a></p>
	</div>
</div>
