include head
body
    div(class="container")
        br
        div(class="jumbotron")
            h1(class="display-4") Send Message
            br
            input(class="form-control" id="inputName" placeholder="Name" type="text")
            br
            input(type="text" class="form-control" id="inputMessage" placeholder="Message")
            br
            button(class="btn btn-success" onclick="") Send
        div(class="jumbotron" id="messages")
include foot